<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="body">
  <div id="container">
    <br>
    <ion-item>
      <ion-label class="text" position="floating">Ingrese su Correo</ion-label>
      <ion-input class="text" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" position="floating">Ingrese su Numero (8 digitos)</ion-label>
      <ion-input class="text" [(ngModel)]="numero"></ion-input>
    </ion-item>
    <br>


    <!--Cambiar animacion a cosas visuales, no para usar datos o variables-->
    <mat-form-field appearance="fill">
      <ion-label class="text" position="floating">Sede</ion-label>
      <mat-select class="text">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--Cambiar animacion a cosas visuales, no para usar datos o variables-->

    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-button shape="round" class="center" color="primary" (click)="validar()">
      Aceptar</ion-button>
    <br>
    <ion-button shape="round" class="center" color="secondary" [routerLink]="['/main-menu']">Cancelar</ion-button>
  </div>
</ion-content>