<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-label position="floating" class="text">Ingresar Patente</ion-label>
    <ion-input class="text"></ion-input>
  </ion-item>
  <br>

  <br>
  <ion-list>
    <ion-item>
      <ion-select class="text" placeholder="Seleccione la Marca">
        <ion-select-option value="1">AUDI</ion-select-option>
        <ion-select-option value="2">BMW</ion-select-option>
        <ion-select-option value="3">CHEVROLET</ion-select-option>
        <ion-select-option value="4">FORD</ion-select-option>
        <ion-select-option value="5">HONDA</ion-select-option>
        <ion-select-option value="6">HYUNDAI</ion-select-option>
        <ion-select-option value="7">KIA</ion-select-option>
        <ion-select-option value="8">MAHINDRA</ion-select-option>
        <ion-select-option value="9">MERCEDES BENZ</ion-select-option>
        <ion-select-option value="10">NISSAN</ion-select-option>
        <ion-select-option value="11">PEUGEOT</ion-select-option>
        <ion-select-option value="12">SUBARU</ion-select-option>
        <ion-select-option value="13">TOYOTA</ion-select-option>
        <ion-select-option value="14">VOLKSWAGEN</ion-select-option>
        <ion-select-option value="15">VOLVO</ion-select-option>

      </ion-select>
    </ion-item>
  </ion-list>
  <br>

  <br>
  <ion-item>
    <ion-label position="floating" class="text">Ingresar Modelo</ion-label>
    <ion-input class="text"></ion-input>
  </ion-item>
  <br>
  <a [routerLink]="['/registro']">Registrarse</a>
</ion-content>