<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div id="container">
    <br>
    <ion-list>
      <ion-item>
        <ion-select class="text" placeholder="Seleccione su Sede de Inicio">
          <ion-select-option value="1">Alameda</ion-select-option>
          <ion-select-option value="2">Antonio Varas</ion-select-option>
          <ion-select-option value="3">Educación Continua</ion-select-option>
          <ion-select-option value="4">Maipú</ion-select-option>
          <ion-select-option value="5">Maipu</ion-select-option>
          <ion-select-option value="6">Melipilla</ion-select-option>
          <ion-select-option value="7">Padre Alonso de Ovalle</ion-select-option>
          <ion-select-option value="8">Plaza Norte</ion-select-option>
          <ion-select-option value="9">Plaza Oeste</ion-select-option>
          <ion-select-option value="10">Plaza Vespucio</ion-select-option>
          <ion-select-option value="11">Puente Alto</ion-select-option>
          <ion-select-option value="12">San Bernardo</ion-select-option>
          <ion-select-option value="13">San Carlos de Apoquindo</ion-select-option>
          <ion-select-option value="14">San Joaquín</ion-select-option>
          <ion-select-option value="15">Valparaíso</ion-select-option>
          <ion-select-option value="16">Viña del Mar</ion-select-option>
          <ion-select-option value="17">Arauco</ion-select-option>
          <ion-select-option value="18">Nacimiento</ion-select-option>
          <ion-select-option value="19">San Andrés de Concepción</ion-select-option>
          <ion-select-option value="20">Villarrica</ion-select-option>
          <ion-select-option value="21">Puerto Montt</ion-select-option>
          
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <ion-item>
      <ion-label position="floating" class="text">Ingrese su Destino</ion-label>
      <ion-input class="text"></ion-input>
    </ion-item>
    <br>
    <ion-list>
      <ion-item>
        <ion-select class="text" placeholder="Seleccione el numero de asientos disponibles">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="5+">Más de 5</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <ion-item>
      <ion-label position="floating" class="text">Ingrese el precio $</ion-label>
      <ion-input class="text"></ion-input>
    </ion-item>
    <br>
    <ion-button strong="True" expand="full" type="submit" color="primary" shape="round"
    [routerLink]="['/succes']">Aceptar</ion-button>
    <br>
    <ion-button class="center" strong="True" type="submit" color="secondary" shape="round"
    [routerLink]="['/main-menu']">Cancelar</ion-button>
  </div>
</ion-content>