<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="body">
  <div id="container">
    <br>
    <ion-img [src]="item.pic" class="perfil"></ion-img>
    <ion-item>
      <ion-label class="text" position="floating">Ingrese su Nombre</ion-label>
      <ion-input class="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" position="floating">Ingrese su Apellido</ion-label>
      <ion-input class="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" position="floating">Ingrese su Numero</ion-label>
      <ion-input class="text"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select class="text" placeholder="Vehiculo">
          <ion-select-option value="1">KC YS 76</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select class="text" placeholder="Seleccione su Sede">
          <ion-select-option value="Plaza Norte">Plaza Norte</ion-select-option>
          <ion-select-option value="Alameda">Alameda</ion-select-option>
          <ion-select-option value="Antonio Varas">Antonio Varas</ion-select-option>
          <ion-select-option value="Educacion Continua">Educacion Continua</ion-select-option>
          <ion-select-option value="Maipu">Maipu</ion-select-option>
          <ion-select-option value="Melipilla">Melipilla</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button shape="round" expand="block" color="primary" [routerLink]="['/info']">
      Aceptar</ion-button>
    <ion-button shape="round" expand="block" color="secondary" [routerLink]="['/add-vehiculo']">
      Añadir vehiculo</ion-button>
  </div>
</ion-content>