<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="text">CD-DG-44</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <ion-card class="card">
    <ion-card-content>
      <h1 class="text2">Vehiculo</h1>
      <ion-img [src]="item.pic2" class="info"></ion-img>

      <label for="" class="text3">Marca: Autokalo</label><br>
      <label for="" class="text3">Modelo: Kagao</label><br>
      <label for="" class="text3">Color: Nranjo</label>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-content>
      <h1 class="text2">Conductor</h1>
      <ion-img [src]="item.pic" class="perfil"></ion-img>
      <label for="" class="text3">Nombre: Arturo Vidal</label>
    </ion-card-content>
  </ion-card>
</ion-content>