<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>

    <!--MENU-->
    

  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  
  <ion-avatar  >
    <img src="https://e7.pngegg.com/pngimages/518/64/png-clipart-person-icon-computer-icons-user-profile-symbol-person-miscellaneous-monochrome.png" >
  </ion-avatar>
  <br>
  <ion-label>Nombre: Oscar Ascevedo Ascevedo</ion-label>
  <br>
  <ion-label>Direccion: Las Manos de tu papá 123</ion-label>
  <br>
  <ion-label>Sede: Plaza norte</ion-label>
  <br>
  <ion-label>Fecha nacimiento: 04 de Agosto 1996</ion-label>
  <br>
  
  
</ion-content>
