<ion-content class="body">
  <br>
  <br>
  <div id="container">
    <ion-img [src]="item.pic" class="logo"></ion-img>
    <br>
    <br>
    <br>
    <br>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button class="center" strong="True" color="primary" shape="round" (click)="validar()">Usuario normal</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button class="center" strong="True" color="secondary" shape="round" (click)="admin()">Administrador</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <a class="center2" [routerLink]="['/registro']">Registrarse</a>
  <br>
  <a class="center" [routerLink]="['/perfil']">¿Olvidate tu Constraseña?</a>
</ion-content>