<ion-content class="back">
  <br><br>
  <br><br>
  <div id="container">
    <ion-item>
      <br><br>
      <br><br>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="clave"></ion-input>
    </ion-item>
    <br>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button strong="True" expand="full" type="submit" color="primary" shape="round"
          [routerLink]="['/main-menu']" (click)="pasarDatos()">Aceptar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <ion-row class="ion-align-items-center">
    <ion-col size="4"></ion-col>
    <ion-col size="8">
      <a [routerLink]="['/perfil']">Registrarse</a>
    </ion-col>
  </ion-row>
</ion-content>