<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div id="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-list>
      <ion-item>
        <ion-select class="text" [(ngModel)]="vehi" placeholder="Tipo de Vehiculo">
          <ion-select-option value="Auto">Auto</ion-select-option>
          <ion-select-option value="Moto">Moto</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <ion-item>
      <ion-label position="floating" class="text">Ingresar Patente</ion-label>
      <ion-input class="text" [(ngModel)]="patente"></ion-input>
    </ion-item>
    <br>

    <ion-list>
      <ion-item>
        <ion-select class="text" (change)="marca123($event)" [(ngModel)]="marca" placeholder="Marca del Vehiculo">
          <ion-select-option class="text2" *ngFor="let a of arreglo"  [value]="a"> {{ a.nombre_marca }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <br>
    <br>
    <br>
    <ion-list>
      <ion-item>
        <ion-select class="text" [(ngModel)]="asientos" placeholder="Seleccione el numero de asientos disponibles">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="5+">Más de 5</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-button class="center" strong="True" type="submit" color="primary" shape="round" (click)="validar()">
      Aceptar</ion-button>
    <br>
    <ion-button class="center" strong="True" type="submit" color="secondary" shape="round"
      [routerLink]="['/main-menu']">Cancelar</ion-button>
  </div>
</ion-content>