<ion-content class="body">
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-select class="text" [(ngModel)]="sede" placeholder="Seleccione su Comuna de Inicio">
          <ion-select-option *ngFor="let a of arreglo" [value]="a"> {{ a.nombreComuna }} </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label position="floating" class="text">Ingrese su Destino</ion-label>
      <ion-input class="text" [(ngModel)]="destino"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-select class="text" [(ngModel)]="asientos" placeholder="Seleccione el numero de asientos disponibles">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="5+">Más de 5</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-select class="text" [(ngModel)]="hora" placeholder="Hora de Salida">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="7">7</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select class="text" [(ngModel)]="horaM" placeholder="Am / PM">
          <ion-select-option value="AM">AM</ion-select-option>
          <ion-select-option value="PM">PM</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label position="floating" class="text">Ingrese el precio por Asiento $</ion-label>
      <ion-input class="text" [(ngModel)]="precio"></ion-input>
    </ion-item>
    <br>
    <ion-button strong="True" expand="full" type="submit" color="primary" shape="round" (click)="validar()">Programar viaje
    </ion-button>
  </div>
</ion-content>