<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-list>
      <ion-item>
        <ion-select class="text" [(ngModel)]="sede" placeholder="Seleccione su Sede de Inicio">
          <ion-select-option value="Plaza Norte">Plaza Norte</ion-select-option>
          <ion-select-option value="Alameda">Alameda</ion-select-option>
          <ion-select-option value="Antonio Varas">Antonio Varas</ion-select-option>
          <ion-select-option value="Educacion Continua">Educacion Continua</ion-select-option>
          <ion-select-option value="Maipu">Maipu</ion-select-option>
          <ion-select-option value="Melipilla">Melipilla</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <ion-item>
      <ion-label position="floating" class="text">Ingrese su Destino</ion-label>
      <ion-input class="text" [(ngModel)]="destino"></ion-input>
    </ion-item>
    <br>
    <ion-button strong="True" expand="full" type="submit" color="primary" shape="round"
    (click)="validar()">Aceptar</ion-button>
    <br>
    <ion-button class="center" strong="True" type="submit" color="secondary" shape="round"
    [routerLink]="['/main-menu']">Cancelar</ion-button>
  </div>
</ion-content>