<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="text">MENU CHOFER</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="perfilC">
      <ion-segment-button value="perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="mapaC">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content class="body">
  
</ion-content>
