<ion-header class="body">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="text">CD-DG-44</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="body"></ion-content>
  <img src="assets\icon\mclaren-chino-rios-e1508906085286.jpg" class="perfil"/>
   
  <h2 class="text">Informacion del auto</h2>
  <label for="" class="text">Marca: Autokalo</label><br>
  <label for="" class="text">Modelo: Kagao</label><br>
  <label for="" class="text">Color: Nranjo</label>

  <h2 class="text">Informacion del conductor</h2>

    <img src="assets\icon\vidal.png" class=""/>

  <label for="" class="text">Nombre: Arturo Vidal</label>
</ion-content>

